@font-face {
	font-family: "Roboto-Black";
	src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
	font-family: "Roboto-Bold";
	src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: "Roboto-Light";
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: "magnolia-script";
	src: url('../fonts/magnolia-script.ttf');
}
magnolia-script.ttf
html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto-Light";
	letter-spacing: 1px;
	font-size: 14px;
}
a {
	color: #000;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.container {
	max-width: 66%;
}
.main-section {
	background: url(../img/bg2.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.container{
	background: rgb(224, 207, 177);
	height: 100vh;
	box-shadow: 0 1rem 3rem rgba(219, 217, 217, 0.175)!important;
}
.title {
	font-family: "Roboto-bold";
	color: #5e4300;
}
.alphabet-frame {
	margin-top: 60px;
}
.alphabet {
	font-size: 24px;
	font-family: "magnolia-script";
}
.alphabet button {
	padding: 12px 20px;
	margin: 8px;
	width: 68px;
	background-color: #c7aa61;
	border-radius: 5px;
}
.alphabet button:hover {
	/* text-decoration: underline; */
	background-color: #f5e3b2;
	border-radius: 5px;
}
.line{
	background: url(../img/line.png) repeat;
	background-size: contain;
	width: 70%;
	height: 25px;
}
.writter {
	font-size: 36px;
	color: #5e4300;
	font-family: "Roboto-bold";
	max-width: 80%;
}
.writter:hover{
	color: #8b6400;
}
#all-btn {
	width: 50%;
}
.arrow {
	font-size: 40px;
	color: #5d0000;
	text-shadow: 1px 1px 1px #5d0000;
}


/*-------------MEDIA--------------*/


@media (max-width: 1400px) {
.container {
	max-width: 80%;
	height: 92vh;
}
.main-section {
    height: 92vh;
}
.alphabet{
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
}
.alphabet button {
	padding: 4px 8px;
	margin: 4px;
	width: 32px;
	background-color: #c7aa61;
	border-radius: 5px;
	font-size: 14px;
}
.title {
	font-size: 18px;
}
.alphabet-frame {
	margin-top: 20px;
}
.writter {
	font-size: 20px;
	color: #5e4300;
	font-family: "Roboto-bold";
	width: 90%;
}
.line{
	width: 80%;
}
.arrow {
	font-size: 20px;
}
}